ion-toolbar {
    background-color: rgb(25,76,155);
    color: white;
    text-align: center;
    font-size: 15px;
}
ion-input {
    border-bottom: 2px solid #CCCCCC;
}
input {
    vertical-align: middle;
}
*{
    font-family: 'Laila', serif;
}
ion-col {
    font-size: 14px;
}
ion-col:nth-of-type(even) {
    color:red;
    text-align:right;
}
ion-col:nth-of-type(odd) {
    text-align:center;
}