<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      ¡Usuarios de Firestore!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button padding href="/crear-usuario" expand="full" shape="round" fill="outline">Crear Usuario
  </ion-button>
  &nbsp;
  <ion-list *ngFor="let usuario of usuarios">
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
       <p>{{usuario.data.nombre}} {{usuario.data.apellidos}}</p>
      <div class="btn--group" slot="end">
        <ion-row>
          <ion-col>
            <ion-button href="/editar-usuario/{{usuario.id}}" routerDirection="forward" class="success-tint" fill="outline">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="borrarUsuario(usuario.id)" class="warning-tint" color="danger" fill="outline">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-list>
</ion-content>