ion-title {
    text-align: center;
    font-size: 16px;
    color:white;
    font-family: 'Laila', serif;
}
ion-toolbar {
    background-color: rgb(25,76,155);
}
ion-item > p {
    color: rgb(25,76,155);
    font-size: 13px;
    max-width: 120px;
    font-family: 'Laila', serif;
}
ion-button, button {
    background-color: white;
    font-family: 'Laila', serif;
}
.btn--group > ion-row{
    max-width: 55px;
}