<ion-header>
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-button (click)="retroceder()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="actualizarUsuario()">
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-end size="4">
        Nombre:
      </ion-col>
      <ion-col align-self-center>
        <ion-input [(ngModel)]="usuario.nombre" placeholder="Introduzca su nombre"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-end size="4">
        Apellidos:
      </ion-col>
      <ion-col align-self-center>
        <ion-input [(ngModel)]="usuario.apellidos" placeholder="Introduzca sus apellidos"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-end size="4">
        Teléfono:
      </ion-col>
      <ion-col align-self-center>
        <ion-input [(ngModel)]="usuario.telefono" placeholder="Introduzca su teléfono"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>